@font-face {
    font-family: vazir;
    src: url("./../font/Vazir.woff");
}
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

body {
    font-family: "Exo", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #ffffff;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.circles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100000;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(49, 49, 49, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
    direction: rtl;
}
input ,textarea{
    direction: rtl !important;
}
li {
    list-style: none;
}

/* a {
    text-decoration: none;
    color: unset;
}

p{
    margin-bottom: unset !important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
} */

.alert-sucsses {
    width: 320px;
    position: fixed;
    background-image: linear-gradient(-45deg, green 30%, #4ad001, green 50%);
    background-size: 400% 400%;
    z-index: 10000000;
    border-radius: 12px;
    right: 50%;
    margin-right: -160px;
    top: -140px;
    color: white;
    animation: alert 2s infinite;
    text-align: justify;
    font-weight: bold;
    padding: 30px 18px;
}

.alert-erore {
    width: 320px;
    position: fixed;
    background-image: linear-gradient(
        -45deg,
        rgb(248, 87, 87) 30%,
        rgb(255, 157, 157),
        rgb(248, 87, 87) 30%
    );
    background-size: 400% 400%;
    z-index: 10000000;
    border-radius: 12px;
    right: 50%;
    margin-right: -160px;
    top: -140px;
    color: white;
    animation: alert 2s infinite;
    text-align: justify;
    font-weight: bold;
    padding: 30px 18px;
}

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background: #0a0a0a;
    opacity: 80%;
    display: none;
    z-index: 4;
}
.loead-wait-cin {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(69 69 69 / 70%);
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loead-wait-cin span {
    opacity: 1;
    font-size: 40px;
    font-weight: bold;
}

.img-mask {
    width: 80%;
    position: fixed;
    left: 50%;
    margin-left: -40%;
    z-index: 5;
    margin-top: 20px;
}


.container-login {
    position: absolute;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}
@media screen and (max-width: 700px){
    .container-login {
        width: 90%;
    }
}
.form2 , .form1 , .veryfy-email {
    display: none;
}
.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background: #0a0a0a;
    opacity: 80%;
    display: none;
    z-index: 4;
}
.spinner-container{
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background: #0a0a0a;
    opacity: 80%;
    display: block;
    z-index: 4;
    display: none;
    align-items: center;
    justify-content: center;
}
.loading-sp{
    position: fixed;
    width: 150px !important;
    height: 150px !important;
    --bs-spinner-border-width: 1.25em !important;
}

.breadcrumb li{
    background: #0d6efd;
    margin-right: 7px;
    padding: 3px 9px;
    color: white;
    border-radius: 24px 0 0 24px;
    cursor: pointer;
}
.breadcrumb li:last-child{
    background: #0a53be ;
}
.breadcrumb li a {
    text-decoration: none !important;
    color: white !important;
}
